html{
  scroll-behavior: smooth;
}

body {
  font-family: Kohinoor, Helvetica, sans-serif;
  background: linear-gradient(#00000055, #00000055), url(../images/GoiDio.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 5px;
}

#stt{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50%;
}

#stt:hover{
  background-color: #ff3a3a;
}

#stt:active{
  background-color: #b80000;
}

/* Webpage Header */

  header{
    text-align: center;
    padding-top: 25px;
    background: linear-gradient(to left, #00000033, #00000000), url("../images/poster.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 125%;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 5px 10px 2px rgb(238 255 0 / 30%);
    cursor: default;
    min-height: 23.5vh;
  }

  h1{
    font-size: 5.5vw;
    font-family: Parrish, Helvetica, sans-serif;
    color: #eee;
    text-shadow: 4px 4px #000;
    margin: 10px;
  }

  header>p{
    font-family: Goudy;
    color: #dce2d5;
    font-size: 2.1vw;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px #000;
  }

  nav{
    position: relative;
    width: 100%;
    user-select: none;
  }

  nav>a{
    font-size: 1.1vw;
    color: white;
    display: inline-block;
    background-image: url(../images/HammerHead.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    font-weight: bold;
    margin: 25px 1.3vw 15px;
    padding: 30px;
    width: 12%;
    border-radius: 5px;
    text-decoration: none;
    transition:  0.5s;
    text-align: left;
    text-shadow: 2px 2px #000;
  }

  nav>a:hover,nav>a:focus{
    width: 15%;
    padding-left: 40px;
    font-size: 1.3vw;
    margin: 0px 2%;
  }

  nav>a>span{
    padding-left: 10px;
  }

  #views{
    height: 83px;
    user-select: none;
    margin-left: 20px;
  }


/* Sorting and Filtering */
  
  /* Alphabetic Sorting */

    #alphaSort{
      display: inline-block;
      cursor: pointer;
      color: white;
      font-size: 150%;
      font-weight: bold;
      background-color: #195cc1;
      margin: 20px 10px;
      border-radius: 5px;
      padding: 7px 15px 6px;
      transition: 0.2s;
    }

    #alphaSort:hover{
      transition: 0.2s;
      color: #195cc1;
      background-color: white;
    }
    
    #alphaSort:active{
      transition: 0s;
      background-color: black;
    }

  /* Halloween Sorting */

    #halloweenSort{
      display: inline-block;
      cursor: pointer;
      color: white;
      font-size: 150%;
      font-weight: bold;
      background-color: orangered;
      margin: 20px 10px;
      border-radius: 5px;
      padding: 7px 16px 6px;
      transition: 0.2s;
    }
    #halloweenSort:hover{
      transition: 0.2s;
      color: orangered;
      background-color: white;
    }
    
    #halloweenSort:active{
      transition: 0s;
      background-color: red;
      color: white;
    }
  
  /* Filters */
  
    #filterBy{
      cursor: pointer;
      color: white;
      font-size: 150%;
      margin: 20px  10px;
      padding: 7px 15px 6px;
      transition: 0.2s;
    }
    
    .dropbtn {
      color: white;
      border: none;
    }

    .dropdown {
      border-radius: 5px;
      background-color: #195cc1;
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      font-weight: bold;
      font-size: 55%;
      display: none;
      position: absolute;
      background-color: #e1edff;
      min-width: 97%;
      margin-left:-15px ;
      margin-top: 6px;
      box-shadow: 0px 8px 16px 0px #3099f233;
      z-index: 1;
      border: 2px solid #3e87f5;
      border-top: 0px;
      border-radius: 0 0 5px 5px;
    }

    .dropdown-content>div {
      color: #10418b;
      padding: 10px 14px;
      text-decoration: none;
      display: block;
      transition: 0.2s;
    }

    .sub{
      position: relative;
      display:inline-block;
    }

    .sub>div>i{
      float: right;
    }

    .sub-menu {
      height: 250px;
      font-weight: normal;
      font-size: 90%;
      display: none;
      background-color: #e1edff;
      min-width: 100%;
      box-shadow: 0px 8px 16px 0px #3099f233;
      z-index: 1;
      margin-top:-29px;
      margin-left:115px;
      border: 2px solid #3e87f5;
      border-radius: 0 5px 5px 5px;
      overflow: auto;
    }

    .sub-menu>div {
      padding: 10px 14px;
      text-decoration: none;
      display: block;
      transition: 0.2s;
    }
    
    .selected-creator{
      background-color: #b4ffc7;
    }
    
    .selected-creator:hover{
      background-color: #91eaa8;
    }
    
    .sub-menu>div:hover {
      background-color: #cbe0ff;
      border-radius: 0 5px 5px 5px;
    }

    .dropdown-content>div:hover {
      background-color: #cbe0ff;
      border-radius: 0 0 0 5px;
    }
    
    .dropdown-content:hover {border-radius: 0 0 0 5px;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .sub-menu {display: none;}
    
    .sub:hover .sub-menu{
      position:absolute;
      display:block
    }

    .dropdown:hover {
      background-color: #3e87f5;
      box-shadow: 0px -3px 18px 0px #3099f294;
      border-radius: 5px 5px 0px 0px;
    }


/* WebPage Main Content */

  #mainDiv{
    min-height: calc(40vh - 4rem);
  }

  main{
    margin: 0 -5px 50px;
    text-align: center;
    cursor: default;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  }

  @media only screen and (max-width: 846px){
    main{
      grid-template-columns: repeat(auto-fill,minmax(360px,1fr));
    }
  }

  article{
    position: relative;
    border: 2px solid #39c1c8;
    margin: 20px 10px;
    display: inline-block;
    background-color: #00b5be;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #45aab2;
    background: linear-gradient(#00000000, #00000000), url(../images/Menu.png);
    background-position: center;
    transition: 0.5s;
  }

  article:hover{
    background: linear-gradient(#ffffff11, #ffffff11), url(../images/Menu.png);
  }

  article>div{
    margin-top: 15px;
  }

  article>div>iframe{
    height: 220px;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
  }

  article>div>img{
    height: 220px;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
  }

  article>h2>a{
    font-family: DIN2014;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 150%;
    color: black;
    transition: 0.5s, color 0.3s;
    margin: 25px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
  }

  article>h2>a:hover,article>h2>a:focus{
    text-decoration: underline;
    color: white;
  }

  article:hover>h2>a{
    font-size: 160%;
    margin: 21px;
  }

  article>p{
    font-size: 120%;
    cursor: default;
    position: relative;
    z-index: 1;
  }

  article>p>span{
    color: white;
    text-shadow: 1px 1px #000;
    padding-left: 10px;
  }


/* Halloween Theme */

  .scythes{
    background-image: url(../images/halloween/scythe.png);
    background-size: 100%;
  }

  .halloween-map{
    border: 2px solid #b62828;
    box-shadow: 0px 0px 10px 2px #b94646;
    background: linear-gradient(#00000000, #00000000), url(../images/halloween/RedSmoke.png);
    background-position: center;
  }

  .halloween-map:hover{
    background: linear-gradient(#ffffff11, #ffffff11), url(../images/halloween/RedSmoke.png);
  }

  .halloween-map>h2>a{
    color: orange;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .halloween-map>p{
    color: darkorange;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .halloween-map>h2>a:hover,.halloween-map>h2>a:focus{
    color: wheat;
  }

  .halloween-map>img{
    user-select: none;
    transition: 0.5s;
  }

  .moonbats{
    display: block;
    position: absolute;
    bottom: 3.5%;
    left: -1.5%;
    width: 8.5rem;
  }

  .halloween-map:hover>.moonbats{
    width: 9.5rem;
    transform: rotate(40deg);
  }

  .jacko{
    display: block;
    position: absolute;
    right: 2%;
    bottom: 5%;
    width: 6.5rem;
    transform: rotate(10deg);
  }

  .halloween-map:hover>.jacko{
    width: 7.5rem;
    transform: rotate(-20deg);
  }

  body>div>img{
    user-select: none;
    position: fixed;
    width: 35%;
    pointer-events: none;
    z-index: 2;
  }

  #toprightweb{
    width: 18%;
  }

  #spider{
    transition: 5s;
    top: 12%;
    right: 3.35%;
    width: 5%;
  }

  #webthread{
    background-color: white;
    position: fixed;
    top: 3%;
    right: 5%;
    width: 2px;
    height: 13%;
    transition:5s;
  }


/* WebPage Footer */

  footer{
    color: white;
    border-top: 2px solid white;
    margin: auto -13px -13px;
    text-align: center;
    padding: 20px;
    font-family: monospace;
    font-size: 20px;
    background: #00000088;
  }
  #contr{
    font-size: 15px;
  }
